body{
    background-color: rgb(128, 0, 128);
    color: #cfcfcf;;
    padding: 3%;
}

section {
    background:#FF6D5E;
    padding-top: 1px;
    padding-bottom:1px;
    padding-left: 1px;
    padding-right: 1px;
    display: flex;
    justify-content: center;
    
}
.chamada {
    background:#050100;
    padding-bottom:20px;
    padding-left: 20px;
}

.chamada_texto{
    margin-right: 5%;
    color: #000000;
}
.video{
    border-radius= 50px;
}

img{
    height: 200px;
}
.categoria{

}
.categoria-videos{
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

