body{
    background-color: black;
    color:white;
}

section {
    background:yellowgreen;
    padding-top: 80px;
    padding-bottom:80px ;
    display: flex;
    justify-content: center;
}


.chamada_texto{
    margin-right: 5%;
}