body{
    background-color: black;
    color:white;
}
div {
    background-color: rgb(251, 255, 0);
    margin: 50;
    border: 50;
    position: inherit;
    padding-left: 100px;
    flex-content: 100px;
}